<header class="row align-items-center">
    <div class="col-12 col-md col-lg-auto align-items-center">
        <span>Absa</span>
        <span>NDIAYE</span>
    </div>
    <div class="col-12 col-md-auto order-lg-last col-lg-3">
        <img src="../../assets/cv.png" alt="CV">
    </div>
    <section class="col-lg align-items-center">
        <h1>A propos de nous</h1>
        <p>
            Decrivez en quelques lignes vos compétences clés pour le poste et vos objectifs de carrière. Vous
            pouvez les mettre en forme a l'aide de puces ou les laisser sous forme de texte plein. Cet espace
            peut servir de debut d'introduction a votre lettre de motivation. Soyez precis, imaginatif et mettez
            en valeur votre potentiel professionnel.
        </p>
    </section>
</header>